@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --dark-grey: #2A2A2C;
  --yellow: #FFCB3B;
  --light-grey: #9C9C9C;
  --white: #FEFAF8;
  --player-1-gradient: linear-gradient(to right, #FFE37F, #FF7F7F);
  --player-2-gradient: linear-gradient(to right, #7FB9FF, #AA7FFF);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--dark-grey);
  color: var(--white);
}

header {
  width: 30%;
  padding: 20px;
}

button {
  font-family: "Istok Web", sans-serif;
}
