# JWT Configuration
JWT_PRIVATE_KEY_PATH=jwt/private-key.pem
JWT_PUBLIC_KEY_PATH=jwt/public-key.pem
JWT_ISSUER=watguessr
JWT_TTL=86400

# Database
DB_URL=jdbc:postgresql://localhost:5432/watguessr?currentSchema=watguessr
DB_USERNAME=watuser
DB_PASSWORD=goon

# Server
SERVER_PORT=8080
